@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-rubik: "Rubik", sans-serif;
    --color-soft-blue: hsl(231, 69%, 60%);
    --color-soft-red: hsl(0, 94%, 66%);
    --color-very-light-grayish-blue: hsl(229, 8%, 95%);
    --color-light-grayish-blue: hsl(229, 8%, 85%);
    --color-grayish-blue: hsl(229, 8%, 60%);
    --color-dark-grayish-blue: hsl(229, 8%, 40%);
    --color-very-dark-blue-nav: hsl(229, 31%, 21%, 95%);
    --color-very-dark-blue: hsl(229, 31%, 21%);
}

html {
  font-size: 18px;
}